<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Profile</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li><a th:href="@{/system/usersentry}">Users Entry</a></li>
										<li class="active"><a th:href="@{/system/profile}">Manage Profile</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/system/profile}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${#strings.isEmpty(profile.profilecode)}" th:href="@{/system/profile}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(profile.profilecode) and profile.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(profile.profilecode) and profile.zactive == true}" th:href="@{/system/profile/archive/} + ${profile.profilecode} + '/' + ${profile.profiletype}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(profile.profilecode) and profile.zactive == false}" th:href="@{/system/profile/restore/} + ${profile.profilecode} + '/' + ${profile.profiletype}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body">
										<form id="mainform" class="form-horizontal" th:action="@{/system/profile/save}" method="post" th:object="${profile}">
											<input th:if="${not #strings.isEmpty(profile.profilecode)}" type="hidden" th:field="*{profilecode}"/>
											<input id="newflag" name="newflag" th:value="${#strings.isEmpty(profile.profilecode) ? 'Y' : 'N'}" type="hidden"/>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-sm-4" for="profileCode">Profile code: </label>
														<div class="col-sm-8">
															<input type="text" class="form-control" th:field="*{profilecode}" maxlength="50" required="required" th:disabled="${not #strings.isEmpty(profile.profilecode)}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="description">Description: </label>
														<div class="col-sm-8">
															<input type="text" class="form-control" th:field="*{description}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="profileType">Profile type: </label>
														<div class="col-sm-8">
															<div class="radio">
																<label><input type="radio" class="form-control-input2" th:field="*{profiletype}" th:value="${T(com.asl.enums.ProfileType).U}" th:disabled="${profile.profilecode != null}" required="required"/>User profile</label>
															</div>
															<div class="radio">
																<label><input type="radio" class="form-control-input2" th:field="*{profiletype}" th:value="${T(com.asl.enums.ProfileType).M}" th:disabled="${profile.profilecode != null}" required="required"/>Menu profile</label>
															</div>
															<div class="radio">
																<label><input type="radio" class="form-control-input2" th:field="*{profiletype}" th:value="${T(com.asl.enums.ProfileType).R}" th:disabled="${profile.profilecode != null}" required="required"/>Report profile</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Profiles</h1>
									</div>
									<div class="section-body">
										<div style="width: 100%;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Profile Code</th>
														<th>Profile Type</th>
														<th>Active?</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="p : ${profiles}">
														<td>
															<a th:href="@{/system/profile/} + ${p.profilecode}" th:text="${p.profilecode}"></a>
														</td>
														<td th:text="${p.profiletype}"></td>
														<td th:text="${p.zactive ? 'Y' : 'N'}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>

						<section th:if="${profile.profilecode != null && profile.profiletype == T(com.asl.enums.ProfileType).M && profile.zactive}" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Menu options</h1>
							</div>
							<div class="section-body">
								<div id="menuprofilelinetable" th:fragment="menuprofilelinetable">
									<table style="margin-top: 20px; margin-bottom: 60px;" th:each="plg : ${plmap}" class="table table-stripped table-bordered table-hover profilelinetable">
										<thead>
											<tr>
												<th width="45%" rowspan="2">Menu Name</th>
												<th width="5%" style="text-align: center; border-bottom: none;">Display</th>
												<th width="45%" rowspan="2">Display text</th>
												<th width="5%" rowspan="2" style="text-align: center">Edit</th>
											</tr>
											<tr>
												<th style="text-align: center; border-top: none;">
													<input 	class="pl-display"
															th:attr="data-url=@{/system/profile/allprofilelines/update},pgroup=${plg.key},profilecode=${profile.profilecode},profiletype=${profile.profiletype}" 
															type="checkbox"
															th:checked="${plg.value.allchecked}"/>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="pl, in : ${plg.value.profileLines}">
												<td th:text="${pl.profilelinecode} + ' - ' + ${pl.managerprompt}">Prompts</td>
												<td style="text-align: center;">
													<input 	class="pl-display"
															th:attr="data-url=@{/system/profile/profileline/save},pgroup=${pl.pgroup},profilecode=${pl.profilecode},profiletype=${pl.profiletype},profilelineid=${pl.profilelineid},screenprompt=${pl.screenprompt},seqn=${pl.seqn}" 
															th:id="${pl.profilelinecode}" 
															type="checkbox" 
															th:checked="${pl.display}"/>
												</td>
												<td th:text="${pl.screenprompt}"></td>
												<td style="text-align: center">
													<button type="button" 
															class="btn btn-default btn-edit editmode"
															th:attr="data-url=@{/system/profile/profilelinemodal/} + ${pl.profilelinecode} + '/' + ${pl.profilecode} + '/' + ${pl.profiletype} + '/show', data-target-modal='menuprofilelinemodal'"
															><i class="fas fa-edit"></i></button>
												</td>
											</tr>
										</tbody>
										<script th:src="@{/assets/pages/system/usersentry/profile/menu-profile.js}"></script>
									</table>
								</div>
							</div>
						</section>

						<section th:if="${profile.profilecode != null && profile.profiletype == T(com.asl.enums.ProfileType).R && profile.zactive}" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Report options</h1>
							</div>
							<div class="section-body">
								<div id="reportprofilelinetable" th:fragment="reportprofilelinetable">
									<table style="margin-top: 20px; margin-bottom: 60px;" th:each="plg : ${plmap}" class="table table-stripped table-bordered table-hover profilelinetable">
										<thead>
											<tr>
												<th width="40%" rowspan="2">Report Name</th>
												<th width="5%" style="text-align: center; border-bottom: none;">Display</th>
												<th width="5%" style="text-align: center; border-bottom: none;">FOP Engine</th>
												<th width="45%" rowspan="2">Display text</th>
												<th width="5%" rowspan="2" style="text-align: center">Edit</th>
											</tr>
											<tr>
												<th style="text-align: center; border-top: none;">
													<input 	class="pl-display"
															th:attr="data-url=@{/system/profile/allprofilelines/update},enabled=${plg.value.allenabled},pgroup=${plg.key},profilecode=${profile.profilecode},profiletype=${profile.profiletype}" 
															type="checkbox"
															th:checked="${plg.value.allchecked}"/>
												</th>
												<th style="text-align: center; border-top: none;">
													<input 	class="pl-enabled"
															th:attr="data-url=@{/system/profile/allprofilelines/update},display=${plg.value.allchecked},pgroup=${plg.key},profilecode=${profile.profilecode},profiletype=${profile.profiletype}" 
															type="checkbox"
															th:checked="${plg.value.allenabled}"/>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="pl, in : ${plg.value.profileLines}">
												<td th:text="${pl.profilelinecode} + ' - ' + ${pl.managerprompt}">Prompts</td>
												<td style="text-align: center;">
													<input 	class="pl-display"
															th:attr="data-url=@{/system/profile/profileline/save},enabled=${pl.enabled},pgroup=${pl.pgroup},profilecode=${pl.profilecode},profiletype=${pl.profiletype},profilelineid=${pl.profilelineid},screenprompt=${pl.screenprompt},seqn=${pl.seqn}" 
															th:id="${pl.profilelinecode}" 
															type="checkbox" 
															th:checked="${pl.display}"/>
												</td>
												<td style="text-align: center;">
													<input 	class="pl-enabled"
															th:attr="data-url=@{/system/profile/profileline/save},display=${pl.display},pgroup=${pl.pgroup},profilecode=${pl.profilecode},profiletype=${pl.profiletype},profilelineid=${pl.profilelineid},screenprompt=${pl.screenprompt},seqn=${pl.seqn}" 
															th:id="${pl.profilelinecode}" 
															type="checkbox" 
															th:checked="${pl.enabled}"/>
												</td>
												<td th:text="${pl.screenprompt}"></td>
												<td style="text-align: center">
													<button type="button" 
															class="btn btn-default btn-edit editmode"
															th:attr="data-url=@{/system/profile/profilelinemodal/} + ${pl.profilelinecode} + '/' + ${pl.profilecode} + '/' + ${pl.profiletype} + '/show', data-target-modal='reportprofilelinemodal'"
															><i class="fas fa-edit"></i></button>
												</td>
											</tr>
										</tbody>
										<script th:src="@{/assets/pages/system/usersentry/profile/report-profile.js}"></script>
									</table>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="menuprofilelinemodal-section"></div>
		<div id="reportprofilelinemodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>