<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Personal Information</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Home</a></li>
										<li class="active"><a th:href="@{/paypersonal}">Personal Information</a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Personal Information</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/paypersonal}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" >
																<label class="control-label col-md-4" for="">Staff ID</label>
																<div class="col-md-8">
																	<select class="form-control" >
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Staff Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Father's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Mother's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Mailing Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder="Mailing Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Permanent Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" placeholder="Permanent Address here.."></textarea>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="">Date of Birth</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id=""
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Sex</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">mstat </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Group</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Department Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Section</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Designation</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="">Join Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id=""
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Grade</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Email </label>
																<div class="col-md-8">
																	<input type="email" class="form-control"  maxlength="100" />
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="">End Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id=""
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="">Retire Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id=""
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Employee Status</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">District</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="">com Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id=""
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Bank </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Description</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Account No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Position</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">TIN</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Employee Category</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Status</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">S ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Blood Group</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Phone No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Plan</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Car</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Lyearti</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Gross</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Employee m Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Relation</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Emergency Mobile No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Mobile No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Religion</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Employee Type</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Signature</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Old Gross</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Father Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Mother Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Short Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Bank Pay</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Week Day</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Holiday</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" />
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> All Personal Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Staff ID</th>
														<th>Staff Name</th>
														<th>Position</th>
														<th>Email</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="Surveyordocumentmodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
