<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Chart of Account</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/account/coa}">Chart of Account</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Chart of Account</h1>
						</div>
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/account/coa}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a href="#" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal"  th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-sm-4" for="xitem">Group</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest xitemsearch" 
																	placeholder="Search..." 
																	th:attr="search-url='search/acgroup'"/>
															<input type="hidden" id="search-val" class="search-xitem" value=""/>
															<input type="hidden" id="search-des"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Group Name</label>
														<div class="col-md-8">
															<input type="text" class="form-control" value="" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
															<label class="control-label col-md-4">Account </label>
															<div class="col-md-8">
																<input type="text" class="form-control" value="">
															</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Account Name</label>
														<div class="col-md-8">
															<input type="text" class="form-control" value="" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Account Type </label>
															<div class="col-md-8">
																<input type="text" class="form-control" value="" disabled="disabled">
															</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;" disabled="disabled"></textarea>
														</div>
													</div>	

													<div class="form-group">
														<label class="control-label col-md-4">Account Usage </label>
														<div class="col-sm-8 ">
															<div class="radio">
																<label><input type="radio" name="ACusage" required="required" checked/>Ledger</label>
																<label><input type="radio" name="ACusage" required="required"/>AR</label>
																<label><input type="radio" name="ACusage" required="required"/>AP</label>
																<label><input type="radio" name="ACusage" required="required"/>Advance</label>
																<label><input type="radio" name="ACusage" required="required"/>Expense</label>
															</div>
														</div>
													</div> 

													<div class="form-group">
														<label class="control-label col-md-4" for="">Note</label>
														<div class="col-md-8">
															<textarea class="form-control" rows="3"  placeholder="Note here.."></textarea>
														</div>
													</div>
													
												</div>

 												
												
												<div class="col-md-6">
												
													<div class="form-group">
														<label class="control-label col-md-4">Level 1</label>
														<div class="col-md-8">
															<input type="text" class="form-control" readonly placeholder="1010">
														</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control"  rows="1" style="resize: none;"  disabled="disabled" >Asset</textarea>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Level 2</label>
														<div class="col-md-8">
															<input type="text" class="form-control"  readonly placeholder="1011">
														</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;" disabled="disabled">Current Asset</textarea>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Level 3</label>
														<div class="col-md-8">
															<input type="text" class="form-control"  readonly placeholder="1012">
														</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;" disabled="disabled">Cash & Cash Equivalents</textarea>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Level 4</label>
														<div class="col-md-8">
															<input type="text" class="form-control"  readonly placeholder="1013">
														</div>
													</div>
	
													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;" disabled="disabled">Cash on Hand</textarea>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Level 5</label>
														<div class="col-md-8">
															<input type="text" class="form-control"  readonly placeholder="1014">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4">Description</label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;" disabled="disabled">Cash</textarea>
														</div>
													</div>

											</div>
										</div>
									</form>
								</div>
							</section>
						</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>List of COA</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Account</th>
													<th>Description</th>
													<th>Account Type</th>
													<th>Account Usage</th>
													<th>Account Source</th>
													<th>Account Group</th>
												</tr>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</section>
							</div>
					</div>			
				</div>
			</div>
		</div>
	</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
	</body>
</html>
