<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Production Chalan to Transfer Order</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/inventory/pchtotrord}">Production Chalan to Transfer Order</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Chalan List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Chalan</th>
													<th>Date</th>
													<th>Status</th>
													<th style="text-align: center;">Production Completed</th>
													<th style="text-align: center;">Transfer Order</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="bh : ${salesorderchalanList}">
													<td>
														<a th:href="@{/salesninvoice/salesorderchalan/} + ${bh.xordernum}" th:text="${bh.xordernum}"></a>
													</td>
													<td th:text="${#dates.format(bh.xdate, df)}"></td>
													<td th:text="${bh.xstatus}"></td>
													<td style="color: green; text-align: center;" th:text="${bh.productioncompleted ? 'Y' : ''}"></td>
													<td style="text-align: center;">
														<span th:if="${not #strings.isEmpty(bh.xtornum)}">
															<a th:href="@{/inventory/transferorder/} + ${bh.xtornum}" target="_blank" th:text="${bh.xtornum}"></a>
														</span>
														<button th:if="${#strings.isEmpty(bh.xtornum)}" type="button" class="btn btn-success btn-sm btn-edit editmode" th:attr="data-url=@{/inventory/pchtotrord/createto/} + ${bh.xordernum} + '/show', data-target-modal='pchtotrordmodal'"><i class="fas fa-edit"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="pchtotrordmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('.query-submit-btn').on('click', function(e){
					e.preventDefault();
					submitMainForm($('#mainform2').attr('action'), $('#mainform2'));
				})
			})
		</script>
	</body>
</html>