<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Requisition</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/purchasing}">Procurements</a></li>
										<li class="active"><a th:href="@{/purchasing/requisition}">Order Requisition</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Create Requisition</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/purchasing/requisition}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${#strings.isEmpty(poordheader.xpornum)}" th:href="@{/purchasing/requisition}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.zactive == true and poordheader.xstatuspor == 'Open'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.zactive == true and poordheader.xstatuspor == 'Open'}" th:href="@{/purchasing/requisition/archive/} + ${poordheader.xpornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.zactive == false}" th:href="@{/purchasing/requisition/restore/} + ${poordheader.xpornum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/purchasing/requisition/save}" th:object="${poordheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtype}"/>
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(poordheader.xpornum)}" class="form-control" th:field="*{xpornum}">
											<input type="hidden" class="form-control" th:field="*{xtotamt}">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group" th:if="${#strings.isEmpty(poordheader.xpornum)}">
														<label class="control-label col-md-4" for="xtrn">Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="prefix : ${poprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													<div class="form-group" th:if="${not #strings.isEmpty(poordheader.xpornum)}">
														<label class="control-label col-md-4" for="xpornum">Requisition Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:value="*{xpornum}" disabled="disabled">
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${poordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(poordheader.xdate, df)}"/
																	th:attr="disabled=${poordheader.xstatuspor != 'Open'}">
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatuspor">Requistion Status : </label>
														<div class="col-md-8">
															<input type="text" th:field="*{xstatuspor}" class="form-control" disabled="disabled"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3" th:attr="disabled=${poordheader.xstatuspor != 'Open'}"></textarea>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Requisitions</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Requisition</th>
													<th>Requisition Date</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="poord : ${allPoordHeader}">
													<td>
														<a th:href="@{/purchasing/requisition/} + ${poord.xpornum}" th:text="${poord.xpornum}"></a>
													</td>
													<td  th:text="${#dates.format(poord.xdate, df)}"></td>
													<td th:text="${poord.xstatuspor}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>

					</div>

					<div class="col-md-12">
						<!-- poorddetail section -->
						<section th:if="${not #strings.isEmpty(poordheader.xpornum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/purchasing/requisition/poorddetails/} + ${poordheader.xpornum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Requisition Order Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table" id="poorddetailtable" th:fragment="poorddetailtable">
									<thead>
										<tr>
											<th>SL.</th>
											<th>Item Code</th>
											<th>Qty</th>
											<th>Unit</th>
											<th>Note</th>
											<th data-nosort="Y" style="text-align: right;" th:if="${poordheader.xstatuspor == 'Open'}">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/purchasing/requisition/} + ${poordheader.xpornum} + '/poorddetail/new/show', data-target-modal='poorddetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d, n : ${poorddetailsList}">
											<td th:text="${n.count}"></td>
											<td th:text="${d.xitem} + ' - ' + ${d.xitemdesc}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xunitpur}"></td>
											<td th:text="${d.xnote}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${poordheader.xstatuspor == 'Open'}">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/purchasing/requisition/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/show', data-target-modal='poorddetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/purchasing/requisition/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="poorddetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
