<!-- Modal -->
<div id="imtordetailmodal" th:fragment="imtordetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update T.O. Items</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/inventory/transferorder/imtordetail/save}" method="post" class="form-horizontal" th:object="${imtordetail}">
						<!-- <input type="hidden" id="listHeadId" name="listHeadId" th:value="${listHead.listHeadId}"/>
						<input type="hidden" th:field="*{listId}"/> -->
						<input type="hidden" th:field="*{xtornum}"/>
						<input type="hidden" th:field="*{xchalanref}"/>
						<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem">Item Code : </label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${imtordetail.xitem}" 
											th:attr="search-url='search/caitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem" value=""/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xunit">Unit : </label>
								<div class="col-sm-8">
									<input type="hidden" class="form-control " th:field="*{xunit}"/>
									<input type="text" class="form-control xunit-display" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtyord">Qty : </label>
								<div class="col-sm-8">
									<input type="text" data-smk-type="decimal" class="form-control qty" th:field="*{xqtyord}" min="1"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate">Rate : </label>
								<div class="col-sm-8">
									<input type="hidden" data-smk-type="decimal" th:field="*{xrate}" min="0"/>
									<input type="text" data-smk-type="decimal" class="form-control xrate-display" min="0"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xnote">Note : </label>
								<div class="col-sm-8">
									<textarea rows="6" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();			
				
				// Get item purchase unit
				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						
						if($('input[name="xitem"]').val() == '') return;
						
						$.ajax({
							url : getBasepath() + '/mastersetup/caitem/itemdetail/' + $('input[name="xitem"]').val(),
							type : 'GET',
							beforeSend : loadingMask2.show(),
							success : function(data) {
								loadingMask2.hide();
															
								$('input[name="xunit"]').val(data.xunitpur);
								$('input.xunit-display').val(data.xunitpur);	
								$('input[name="xrate"]').val(data.xrate);
								$(".xrate-display").val(data.xrate);
								$(".qty").focus();
								
								//$('input[name="xtotamt"]').val(parseFloat($('input[name="xrate"]').val()) * parseFloat($('input[name="xqtyord"]').val()));
							},							
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
	</div>
</div>