<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sales Order</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/opord}">Sales Order</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Sales Order</h1>
						</div>
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/salesninvoice/opord}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(opordheader.xordernum)}" th:href="@{/salesninvoice/opord}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatus != 'Confirmed' and opordheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
									</div>
									<div class="section-body section-border">
										<div id="opordheaderform" th:fragment="opordheaderform">
											<form id="mainform" class="form-horizontal" th:action="@{/salesninvoice/opord/save}" th:object="${opordheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
												<input th:if="${not #strings.isEmpty(opordheader.xordernum)}" type="hidden" class="form-control" th:field="*{xtrn}"/>
												<input type="hidden" th:if="${not #strings.isEmpty(opordheader.xordernum)}" class="form-control" th:field="*{xordernum}">
												<div class="row">
													<div class="col-md-6">

														<div class="form-group" th:if="${#strings.isEmpty(opordheader.xordernum)}">
															<label class="control-label col-md-4" for="xtrn">Code</label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="prefix : ${opordprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not #strings.isEmpty(opordheader.xordernum)}">
															<label class="control-label col-md-4" for="xordernum">SO Number</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:value="*{xordernum}" disabled="disabled">
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${opordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote">Note</label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="5"></textarea>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatus">Status</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xstatus}">
																<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
															</div>
														</div>

													</div>
													<div class="col-md-6">

														<div class="form-group">
															<label class="control-label col-md-4" for="xtotamt">Total Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xtotamt}">
																<input type="text" class="form-control xtotamt" th:value="*{xtotamt}" disabled="disabled">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvatait">Vat Tax ID : </label>
															<div class="col-md-8">
																<select class="form-control vatait-select" th:field="*{xvatait}">
																	<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
																</select>
															</div>
														</div> -->

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvatamt">Vat Amount : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xvatamt}"/>
																<input type="text" class="form-control" th:value="*{xvatamt}" disabled="disabled">
															</div>
														</div> -->

													<!-- 	<div class="form-group">
															<label class="control-label col-md-4" for="xaitamt">Tax Amount : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control hidden" th:field="*{xaitamt}"/>
																<input type="text" class="form-control" th:value="*{xaitamt}" disabled="disabled"/>
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xdiscamt">Discount</label>
															<div class="col-md-6">
																<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xdiscamt}" min="0">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xgrandtot">Grand Amount</label>
															<div class="col-md-6">
																<input type="text" class="form-control xgrandtot" th:field="*{xgrandtot}" disabled="disabled">
															</div>
														</div>


													</div>
												</div>
											</form>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Sales Order List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: auto;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>SO Number</th>
														<th>Date</th>
														<th>REQ No.</th>
														<th>Branch</th>
														<th>Status</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="opdo : ${allOpordHeader}">
														<td>
															<a th:href="@{/salesninvoice/opord/} + ${opdo.xordernum}" th:text="${opdo.xordernum}"></a>
														</td>
														<td th:text="${#dates.format(opdo.xdate, df)}"></td>
														<td th:text="${opdo.xpornum}"></td>
														<td th:text="${opdo.branchname}"></td>
														<td th:text="${opdo.xstatus}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(opordheader.xordernum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/salesninvoice/opord/oporddetail/} + ${opordheader.xordernum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Order Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table" id="oporddetailtable" th:fragment="oporddetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Unit</th>
											<th>Qty</th>
											<th>Rate</th>
											<th>Line Amount</th>
											<th>Note</th>
											<th th:if="${opordheader.xstatus != 'Confirmed'}" data-nosort="Y" style="text-align: right;">
												<!-- <button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/salesninvoice/opord/} + ${opordheader.xordernum} + '/oporddetail/new/show', data-target-modal='oporddetailmodal'"><i class="fas fa-plus"></i></button> -->
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d, n : ${opordDetailsList}">
											<td th:text="${n.count}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} +' - '+ ${d.xdesc}"></a>
											</td>
											<td th:text="${d.xunit}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td th:text="${d.xlong}"></td>
											<td th:if="${opordheader.xstatus != 'Confirmed'}" data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/salesninvoice/opord/} + ${opordheader.xordernum} + '/oporddetail/' + ${d.xrow} + '/show', data-target-modal='oporddetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/salesninvoice/opord/} + ${opordheader.xordernum} + '/oporddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="oporddetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			
			$('a.confirmopdo-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var dornum = $("#xordernum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/opord/confirmopdo/" + dornum,
					success: function(result){
						var status = result.status.toLowerCase();
						
						if(status == "success")
							showMessage("success", "Invoice Confirmed");
						else if(status == "error")
							showMessage("error", result.message);
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			});
			
			/* $('a.returngrn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/opord/returngrn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "GRN return order created. Finalize from GRN return.");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			}); */
			
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xaitamt);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;						
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script>
</html>