<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Profile Allocation</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li><a th:href="@{/system/usersentry}">Users Entry</a></li>
										<li class="active"><a th:href="@{/system/profileallocation}">Profile Allocation</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Profile Allocations</h1>
									</div>
									<div class="section-body">
										<div style="width: 100%;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>User</th>
														<th>Menu Profile</th>
														<th>Report Profile</th>
														<th>User Profile</th>
														<th data-nosort='Y' style="text-align:center">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="p : ${profileallocations}">
														<td>
															<a th:href="@{/system/xusers/} + ${p.zemail}" target="_blank" th:text="${p.xname} + ' - ' + ${p.zemail}"></a>
														</td>
														<td>
															<a th:href="@{/system/profile/} + ${p.mpcode}" target="_blank" th:text="${p.mpcode}"></a>
														</td>
														<td>
															<a th:href="@{/system/profile/} + ${p.rpcode}" target="_blank" th:text="${p.rpcode}"></a>
														</td>
														<td>
															<a th:href="@{/system/profile/} + ${p.upcode}" target="_blank" th:text="${p.upcode}"></a>
														</td>
														<td style="text-align:center">
															<button type="button" 
																	class="btn btn-default btn-edit editmode"
																	th:attr="data-url=@{/system/profileallocation/pamodal/} + ${p.zemail} + '/show', data-target-modal='pamodal'"
																	><i class="fas fa-edit"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="pamodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>