<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hall Booking</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/conventionmanagement/hallbooking}">Hall Booking</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-12 content-area">
						<div class="row">
						<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div id="opordheaderform" th:fragment="opordheaderform">
										<div class="section-header sectionbartoggle">
											<h1>Hall Booking</h1>
										</div>
										<div class="form-action-button">
											<a th:href="@{/conventionmanagement/hallbooking}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
											<a th:if="${#strings.isEmpty(opordheader.xordernum)}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
											<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatusord != 'Confirmed' and opordheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
											<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatusord != 'Confirmed' and opordheader.zactive == true}" th:href="@{/conventionmanagement/hallbooking/archive/} + ${opordheader.xordernum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Cancel Booking</a>
											<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatus == 'Open' and opordheader.zactive == true}" th:href="@{/conventionmanagement/hallbooking/print/} + ${opordheader.xordernum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print </a>
											<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatus == 'Open' and opordheader.zactive == true}" th:href="@{/conventionmanagement/hallbooking/createinvoice/} + ${opordheader.xordernum}" class="btn btn-sm btn-primary archive-btn-link"><i class="fas fa-file-invoice"></i> Create Invoice </a>
										</div>
										<div class="section-body section-border">
											<form id="mainform" class="form-horizontal" th:action="@{/conventionmanagement/hallbooking/save}" th:object="${opordheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" th:field="*{xtypetrn}"/>
												<input type="hidden" th:field="*{xtrn}" th:if="${not #strings.isEmpty(opordheader.xordernum)}"/>
												<div class="row">
													<div class="col-md-6">

														<div class="form-group" th:if="${#strings.isEmpty(opordheader.xordernum)}">
															<label class="control-label col-md-4" for="xtrn">P.O. Prefix : </label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="prefix : ${hallbookingpreffix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not #strings.isEmpty(opordheader.xordernum)}">
															<label class="control-label col-md-4" for="xordernum">Booking NO. : </label>
															<div class="col-md-8">
																<input type="hidden" th:field="*{xordernum}" class="form-control"/>
																<input type="text" class="form-control" th:value="*{xordernum}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xcus">Customer : </label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="*{xcus}" 
																		th:attr="search-url='search/customer'"/>
																<input type="hidden" id="search-val" th:field="*{xcus}" value=""/>
																<input type="hidden" id="search-des" th:value="*{xcus}"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xfunction">Function : </label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="*{xfunction}" 
																		th:attr="search-url='search/caitem/function'"/>
																<input type="hidden" id="search-val" th:field="*{xfunction}" value=""/>
																<input type="hidden" id="search-des" th:value="*{xfunction}"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xtotguest">Total Guests : </label>
															<div class="col-md-5">
																<input type="number" class="form-control" th:field="*{xtotguest}" min="0">
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">Booking Date : </label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="hidden" 
																		class="form-control" 
																		id="xdate" 
																		name="xdate" 
																		th:value="${opordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xdate, df)}"/>
																<input 	type="datepicker" 
																		class="form-control" 
																		required="required"
																		disabled="disabled"
																		th:value="${opordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xstartdate">Start Date : </label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xstartdate"
																		name="xstartdate"
																		required="required"
																		th:value="${opordheader.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xstartdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstarttime">Start Time : </label>
															<div class="input-group time col-md-4 date-time-wrapper timepicker">
																<input class="form-control" data-type="timepicker" placeholder="Start" required="required" th:field="*{xstarttime}"/>
																<span class="input-group-append input-group-addon">
																	<span class="input-group-text">
																		<i class="fa fa-clock"></i>
																	</span>
																</span>
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xenddate">End Date : </label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xenddate"
																		name="xenddate"
																		required="required"
																		th:value="${opordheader.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xenddate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xendtime">End Time : </label>
															<div class="input-group time col-md-4 date-time-wrapper timepicker">
																<input class="form-control" data-type="timepicker" placeholder="Start" required="required" th:field="*{xendtime}"/>
																<span class="input-group-append input-group-addon">
																	<span class="input-group-text">
																		<i class="fa fa-clock"></i>
																	</span>
																</span>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote">Note : </label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xpaymenttype">Payment Type : </label>
															<div class="col-md-6">
																<select class="form-control" th:field="*{xpaymenttype}">
																	<option th:each="p : ${paymentType}" th:value="${p.xcode}" th:text="${p.xcode}"></option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatus">Status : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xstatus}">
																<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
															</div>
														</div>

													</div>
													<div class="col-md-6">

														<div class="form-group">
															<label class="control-label col-md-4" for="xfoodamt">Food : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xfoodamt}">
																<input type="text" class="form-control" th:value="*{xfoodamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xfacamt">Facilities : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xfacamt}">
																<input type="text" class="form-control" th:value="*{xfacamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xtotamt">Total Amount : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xtotamt}">
																<input type="text" class="form-control" th:value="*{xtotamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xvatait">Vat Tax ID : </label>
															<div class="col-md-6">
																<select class="form-control vatait-select" th:field="*{xvatait}">
																	<option th:each="x : ${vataitList}" th:value="${x.xvatait}" th:text="${x.xvatait}"></option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xvatamt">Vat : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xvatamt}"/>
																<input type="text" class="form-control xvatamt-show" th:value="*{xvatamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xaitamt">Tax : </label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xaitamt}">
																<input type="text" class="form-control xaitamt-show" th:value="*{xaitamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xdiscamt">Discount : </label>
															<div class="col-md-6">
																<input type="text" class="form-control" th:field="*{xdiscamt}" min="0">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xgrandtot">Grand Total : </label>
															<div class="col-md-6">
																<input type="text" class="form-control xgrandtot" th:value="*{xgrandtot}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xpaid">Paid : </label>
															<div class="col-md-6">
																<input type="number" min="0" class="form-control xpaid" th:field="*{xpaid}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xdue">Due : </label>
															<div class="col-md-6">
																<input type="number" min="0" class="form-control xdue" th:value="*{xdue}" disabled="disabled">
															</div>
														</div>

													</div>
												</div>
											</form>
										</div>

										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
												ck.ui.config.dateAndTimepicker();
											})
										</script>
										<script>
											$(document).ready(function(){
												$("input[name='xdiscamt']").off('blur').on('blur', function(e){

													var xtotamt = parseFloat($("input[name='xtotamt']").val());
													var vatAmount = parseFloat($("input[name='xvatamt']").val());
													var aitAmount = parseFloat($("input[name='xaitamt']").val());
													var xdiscamt = parseFloat($("input[name='xdiscamt']").val());
													if(isNaN(xdiscamt)){
														xdiscamt = 0;
														$("input[name='xdiscamt']").val(0);
													}
													var grandTotal = xtotamt + vatAmount + aitAmount - xdiscamt;
													$('input.xgrandtot').val(grandTotal);
									
													
													if(isNaN($('input.xpaid').val())){
														$(this).val(0);
													}
													var xpaid =  parseFloat($('input.xpaid').val());
													var xdue = grandTotal - xpaid;
													$('input.xdue').val(xdue);
												});
									
												$("input[name='xpaid']").off('blur').on('blur', function(e){
													var grandTotal = parseFloat($('input.xgrandtot').val());
									
													if(isNaN($(this).val())){
														$(this).val(0);
													}
													var xpaid =  parseFloat($(this).val());
													var xdue = grandTotal - xpaid;
													$('input.xdue').val(xdue);
												});
									
									
												$(".vatait-select").on("change", function(){
													var vataitId = $(".vatait-select").val();
									
													loadingMask2.show(),
													$.ajax({
														url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
														type : 'GET',
														success: function(data){
															loadingMask2.hide();
															var vatPercent = parseFloat(data.xvat);
															var aitPercent = parseFloat(data.xait);
															var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
															var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;
									
															$('input[name="xvatamt"]').val(vatAmount);
															$('input.xvatamt-show').val(vatAmount);
															$('input[name="xaitamt"]').val(aitAmount);
															$('input.xaitamt-show').val(aitAmount);
									
															var xtotamt = parseFloat($("input[name='xtotamt']").val());
															var xdiscamt = parseFloat($("input[name='xdiscamt']").val());
															if(isNaN(xdiscamt)){
																xdiscamt = 0;
																$("input[name='xdiscamt']").val(0);
															}
															var grandTotal = xtotamt + vatAmount + aitAmount - xdiscamt;
															$('input.xgrandtot').val(grandTotal);
															
															if(isNaN($('input.xpaid').val())){
																$(this).val(0);
															}
															var xpaid =  parseFloat($('input.xpaid').val());
															var xdue = grandTotal - xpaid;
															$('input.xdue').val(xdue);
															
														},
														error : function(jqXHR, status, errorThrown){
															showMessage(status, "Something went wrong .... ");
															loadingMask2.hide();
														}
													});
												});
									
											})
											
										</script>

									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Bookings</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Booking Order</th>
													<th>Booking Date</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="order : ${bookingOrderList}">
													<td>
														<a th:href="@{/conventionmanagement/hallbooking/} + ${order.xordernum}" th:text="${order.xordernum}"></a>
													</td>
													<td th:text="${#dates.format(order.xdate, df)}"></td>
													<td th:text="${#dates.format(order.xstartdate, df)} + ' - ' + ${order.xstarttime}"></td>
													<td th:text="${#dates.format(order.xenddate, df)} + ' - ' + ${order.xendtime}"></td>
													<td th:text="${order.xstatus}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<!-- detail section -->
						<section th:if="${not #strings.isEmpty(opordheader.xordernum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/conventionmanagement/hallbookings/oporddetails/} + ${opordheader.xordernum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Facilities Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table nowrap" id="oporddetailtable" th:fragment="oporddetailtable">
									<thead>
										<tr>
											<th>SN.</th>
											<th>Item</th>
											<th>Item Category</th>
											<th>Quantity</th>
											<th>Unit</th>
											<th>Rate</th>
											<th>Line Amount</th>
											<th data-nosort="Y" style="text-align: right;" th:if="${opordheader.xstatusord != 'Confirmed'}">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/conventionmanagement/hallbooking/} + ${opordheader.xordernum} + '/oporddetail/new/show', data-target-modal='oporddetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d,n : ${facilities}">
											<td th:text="${n.count}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xdesc}"></a>
											</td>
											<td th:text="${d.xcatitem}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xunit}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${opordheader.xstatusord != 'Confirmed'}">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/conventionmanagement/hallbooking/} + ${opordheader.xordernum} + '/oporddetail2/' + ${d.xrow} + '/show', data-target-modal='oporddetailmodal2'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/conventionmanagement/hallbooking/} + ${opordheader.xordernum} + '/oporddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>

					<div class="col-md-12">
						<!-- detail section -->
						<section th:if="${not #strings.isEmpty(opordheader.xordernum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/conventionmanagement/hallbookings/oporddetails/} + ${opordheader.xordernum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Food Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table nowrap" id="oporddetailfoodtable" th:fragment="oporddetailfoodtable">
									<thead>
										<tr>
											<th>SN.</th>
											<th>Item</th>
											<th>Item Category</th>
											<th>Quantity</th>
											<th>Unit</th>
											<th>Rate</th>
											<th>Line Amount</th>
											<th data-nosort="Y" style="text-align: right;" th:if="${opordheader.xstatusord != 'Confirmed'}">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/conventionmanagement/hallbooking/food/} + ${opordheader.xordernum} + '/oporddetail/new/show', data-target-modal='oporddetailfoodmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${d.xtype ne 'Set Item'}" th:each="d,n : ${foods}">
											<td th:text="${n.count}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xdesc}"></a>
												<table class="table table-bordered" th:if="${not #lists.isEmpty(d.subitems)}" style="margin-top: 10px;">
													<thead>
														<tr>
															<th>SN.</th>
															<th>Item</th>
															<th>Quantity</th>
															<th>Unit</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="s, n : ${d.subitems}">
															<td th:text="${n.count}"></td>
															<td>
																<a th:href="@{/mastersetup/caitem/} + ${s.xitem}" target="_blank" th:text="${s.xitem} + ' - ' + ${s.xdesc}"></a>
															</td>
															<td th:text="${s.xqtyord}"></td>
															<td th:text="${s.xunit}"></td>
														</tr>
													</tbody>
												</table>
											</td>
											<td th:text="${d.xcatitem}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xunit}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${opordheader.xstatusord != 'Confirmed'}">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/conventionmanagement/hallbooking/food/} + ${opordheader.xordernum} + '/oporddetail/'+ ${d.xrow} +'/show', data-target-modal='oporddetailfoodmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/conventionmanagement/hallbooking/food/} + ${opordheader.xordernum} + '/oporddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="oporddetailmodal-section"></div>
		<div id="oporddetailmodal2-section"></div>
		<div id="oporddetailfoodmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
	
</html>