<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>PO to GRN</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/potogrn}">PO to GRN</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Purchase Orders & GRN Info</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Purchase Order</th>
													<th>Date</th>
													<th>Supplier</th>
													<th>Total Amount</th>
													<th>Status</th>
													<th>Item Details</th>
													<th>GRN</th>
													<th data-nosort="Y" style="text-align: right;">Create GRN</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="poord : ${poordHeaders}">
													<td th:text="${poord.xpornum}"></td>
													<td th:text="${#dates.format(poord.xdate, df)}"></td>
													<td th:text="${poord.xcus} + ' - ' + ${poord.xorg}"></td>
													<td th:text="${poord.xtotamt}"></td>
													<td th:text="${poord.xstatuspor}"></td>
													<td>
														<button type="button" class="btn btn-primary btn-edit editmode" th:attr="data-url=@{/procurement/potogrn/poorddetails/} + ${poord.xpornum} + '/show', data-target-modal='purchaseorderdetailmodal'"><i class="fas fa-eye"></i></button>
													</td>
													<td>
														<a th:if="${not #strings.isEmpty(poord.xgrnnum)}" target="_blank" th:href="@{/purchasing/pogrn/} + ${poord.xgrnnum}" th:text="${poord.xgrnnum}"></a>
													</td>
													<td style="text-align: right;">
														<button th:if="${#strings.isEmpty(poord.xgrnnum)}" type="button" class="btn btn-success btn-confirm editmode" th:attr="data-url=@{/procurement/potogrn/create/} + ${poord.xpornum}"><i class="fas fa-check-square"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="purchaseorderdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>