<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Land Owner</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landowner}">Land Owner</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Land Owner</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landowner}"  class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
														<a th:if="${#strings.isEmpty(owner.xland)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a th:if="${not #strings.isEmpty(owner.xland) and owner.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Clear</a>
														<a th:if="${not #strings.isEmpty(owner.xland) and owner.zactive == true}" th:href="@{/landowner/archive/} + ${owner.xland} +'/'+ ${owner.xperson}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
														<a th:if="${not #strings.isEmpty(owner.xland) and owner.zactive == false}" th:href="@{/landowner/restore/} + ${owner.xland} +'/'+ ${owner.xperson}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landowner/save}" th:object="${owner}">
											<input type="hidden" th:field="*{newData}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${owner.newData}">
																<label class="control-label col-md-4" for="xland">Land:</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${owner.xland}" 
																			th:attr="search-url='search/landId'"/>
																	<input type="hidden" id="search-val" th:field="*{xland}"/>
																	<input type="hidden" id="search-des" th:value="*{xland}"/>
																</div>
															</div>

															<div class="form-group" th:if="${not owner.newData}">
																<label class="control-label col-md-4" for="xland">Land:</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xland}"/>
																	<input type="text" class="form-control" th:value="*{xland}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group" th:if="${owner.newData}">
																<label class="control-label col-md-4" for="xperson">Person:</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${owner.xperson}" 
																			th:attr="search-url='search/personId'"/>
																	<input type="hidden" id="search-val" th:field="*{xperson}"/>
																	<input type="hidden" id="search-des" th:value="*{xperson}"/>
																</div>
															</div>

															<div class="form-group" th:if="${not owner.newData}">
																<label class="control-label col-md-4" for="xperson">Person:</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xperson}"/>
																	<input type="text" class="form-control" th:value="*{xperson}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xtype">Type:</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtype}">
																		<option th:each="d : ${ownerTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>

														</div>

														<div class="col-md-6">

															<div class="form-group">
																<label class="control-label col-md-4" for="xqty">Quantity:</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" th:field="*{xqty}" maxlength="100"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xunit">Unit:</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xunit}">
																		<option th:each="d : ${landUnitTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
	
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note:</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Land Owners</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>SN.</th>
														<th>Land ID</th>
														<th>Person ID</th>
														<th>Type</th>
														<th>Quantity</th>
														<th>Unit</th>
													</tr>
													
												</thead>
												<tbody>
													<tr th:each="ar, c : ${allOwners}">
														<td>
															<a th:href="@{/landowner/} + ${ar.xland} + '/' + ${ar.xperson}" th:text="${c.count}"></a>
														</td>
														<td><a th:href="@{/landinfo/} + ${ar.xland}" target="_blank" th:text="${ar.xland}"></a></td>
														<td><a th:href="@{/landperson/} + ${ar.xperson}" target="_blank" th:text="${ar.xperson}"></a></td>
														<td th:text="${ar.xtype}"></td>
														<td th:text="${ar.xqty}"></td>
														<td th:text="${ar.xunit}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
