<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Room Management</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/roommanagement}">Room Management</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 content-area">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Room Management</h1>
							</div>
							<div class="section-body">
								<table class="table dashboard-menu-table">
									<tr>
										<td colspan="2">Room Management</td>
									</tr>
									<tr>
										<td><a th:href="@{/roommanagement/roombooking}">Room Booking</a></td>
										<td>
											<a th:href="@{/roommanagement/roombooking}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									
								</table>
							</div>
						</section>
					</div>
					
					<div class="col-md-8">
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Available Rooms</h1>
							</div>
							<div class="section-body">
								<div class="row">
									<div class="room-card text-center add-room" th:each="room : ${availableRooms}" >
										<div class="padding-5">
											<span th:text="${room.xdesc}" class="fa-1x room-xdesc"></span>
										</div>
										<div>
											Price - <span th:text="${room.xrate}" class="room-xrate"></span>
										</div>
										<div class="padding-5">
											<span th:text="${room.xcatitem}" class="label label-info fa-sm">Delux</span>
										</div>
									</div>
									
									<div class="room-card-red text-center add-room" th:each="room : ${bookedRooms}" >
										<div class="padding-5">
											<span th:text="${room.xdesc}" class="fa-1x room-xdesc"></span>
										</div>
										<div>
											Price - <span th:text="${room.xrate}" class="room-xrate"></span>
										</div>
										<div class="padding-5">
											<span th:text="${room.xcatitem}" class="label label-info fa-sm">Delux</span>
										</div>
									</div>
									
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
	
	<style>
		.room-card{
			width: 10%;
			background-color: #17a261 ;
			margin: 1%;
			border-radius: 5px;
			color: white;
			padding: 10px;
			display: inline-block;
		}
		
		.room-card-red{
			width: 10%;
			background-color: #c9302c ;
			margin: 1%;
			border-radius: 5px;
			color: white;
			padding: 10px;
			display: inline-block;
		}
		
	</style>
</html>
