<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Voucher Entry</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/account}">General Accounts</a></li>
										<li class="active"><a th:href="@{/account/voucher}">Voucher Entry</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Voucher Entry</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/account/voucher}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a href="#" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal"  th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">
												   <div class="form-group">
														<label class="control-label col-md-4">Voucher No : </label>
														<div class="col-md-8">
															<select class="form-control">
																<option value="SRRE00009">SRRE00009</option>
															</select>
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4">Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	th:value="${#dates.format(#dates.createNow(), df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													 <div class="form-group">
														<label class="control-label col-md-4" >Year : </label>
														<div class="col-md-8">
															<select class="form-control">
																<option value="2021">2021</option>
															</select>
														</div>
													</div>
													 <div class="form-group">
														<label class="control-label col-md-4">Period : </label>
														<div class="col-md-8">
															<select class="form-control">
																<option value="2">2</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4">Reference : </label>
														<div class="col-md-8">
															<textarea class="form-control" rows="2" style="resize: none;"></textarea>
														</div>
													</div>	
													<div class="form-group">
														<label class="control-label col-md-4">Description : </label>
														<div class="col-md-8">
															<textarea class="form-control" rows="4" style="resize: none;"></textarea>
														</div>
													</div>	
												</div>
												
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">Team : </label>
														<div class="col-md-8">
															<select class="form-control">
																<option value="Fulfillment">Fulfillment</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4">Team Member : </label>
														<div class="col-md-8">
															<select class="form-control">
																<option value="Select">Select</option>
															</select>
														</div>
													</div>
												<div class="form-group">
													<label class="control-label col-md-4">Manager : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="Zubayer" disabled>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Approved : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="Pappow" disabled>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Document Type : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="GL Voucher" disabled>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Document No : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="SRRE00009" disabled>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</section>
						</div>
							<div class="col-md-6">
								
							</div>
					</div>			
				</div>
			</div>
		</div>
	</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
	</body>
</html>
