<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Item Entry</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/mastersetup/caitem}">Item Master</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">Item Master</h2>
				</div>
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
									</div>
									<div class="form-action-button">
										<a th:href="@{/mastersetup/caitem}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(caitem.xitem)}" th:href="@{/mastersetup/caitem}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(caitem.xitem) and caitem.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(caitem.xitem) and caitem.zactive == true}" th:href="@{/mastersetup/caitem/archive/} + ${caitem.xitem}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(caitem.xitem) and caitem.zactive == false}" th:href="@{/mastersetup/caitem/restore/} + ${caitem.xitem}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/mastersetup/caitem/save}" th:object="${caitem}" method="post">
											<input type="hidden" th:if="${not #strings.isEmpty(caitem.xitem)}" th:field="*{xitem}"/>
											<input type="hidden" th:field="*{xtype}"/>
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(caitem.xitem)}">
														<label class="control-label col-md-4" for="xitem">Prefix</label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{codeType}">
																<option th:each="prefix : ${itemxtrnnumbers}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(caitem.xitem)}">
														<label class="control-label col-md-4" for="xitem">Item Code</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xitem}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xitem">Item Name</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdesc}" maxlength="100" required="required"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcatitem">Item Category</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xcatitem}">
																<option value="">-- Select --</option>
																<option th:each="category : ${xitemCategories}" th:value="${category.xcode}" th:text="${category.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xgitem">Item Group</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xgitem}">
																<option value="">-- Select --</option>
																<option th:each="group : ${xitemGroups}" th:value="${group.xcode}" th:text="${group.xcode}"></option>
															</select>
														</div>
													</div>

													<div class="form-group input2">
														<label class="control-label col-sm-4" for="xproditem">Prod Item ?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{xproditem}" value="Y"/></label>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xunitpur">UOM</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xunitpur}">
																<option th:each="unit : ${xunitPurs}" th:value="${unit.xcode}" th:text="${unit.xcode}"></option>
															</select>
														</div>
													</div>
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xunitsel">Selling Unit</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xunitsel}">
																<option th:each="unit : ${xunitSels}" th:value="${unit.xcode}" th:text="${unit.xcode}"></option>
															</select>
														</div>
													</div> -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcodeold">Old Code</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xcodeold}">
														</div>
													</div> -->
													<div class="form-group">
														<label class="control-label col-md-4" for="xrate">Sales Rate</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xrate}" required="required">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xminqty">Reorder Qty.</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xminqty}" required="required">
														</div>
													</div>

												</div>
												<div class="col-md-6">
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcus">Party</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xcus}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xmodel">Model</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xmodel}" maxlength="100">
														</div>
													</div> -->

													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcfpur">Conv. Factor-Purchase</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xcfpur}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcfsel">Conv. Factor-Sales</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xcfsel}">
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcost">Cost</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xcost}">
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xdealerp">Branch Price</label>
														<div class="col-md-8">
															<input type="text" class="form-control" data-smk-type="decimal" th:field="*{xdealerp}">
														</div>
													</div>

												<!-- 	<div class="form-group">
														<label class="control-label col-md-4" for="xmrp">MRP</label>
														<div class="col-md-8">
															<input type="text" class="form-control" data-smk-type="decimal" th:field="*{xmrp}">
														</div>
													</div> -->

													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xseqn">Sequence</label>
														<div class="col-md-8">
															<input type="number" class="form-control" th:field="*{xseqn}">
														</div>
													</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xvatrate">Vat Rate (%)</label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xvatrate}">
														</div>
													</div>

													<div class="form-group input2">
														<label class="control-label col-sm-4" for="allowreq">Is Salable ?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{allowreq}" value="Y"/></label>
															</div>
														</div>
													</div>
													
													
													<div th:if="${isTcc}" class="form-group input2">
														<label class="control-label col-sm-4" for="xsetmenu">Is Set Menu ?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{xsetmenu}" value="Y"/></label>
															</div>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Item List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Item Code</th>
														<th>Item Name</th>
														<th>Item Category</th>
														<th>Item Group</th>
														<!-- <th>Prod. Item?</th> -->
														<th>UOM</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="caitem : ${allCaitems}">
														<td>
															<a th:href="@{/mastersetup/caitem/} + ${caitem.xitem}" th:text="${caitem.xitem}"></a>
														</td>
														<td th:text="${caitem.xdesc}"></td>
														<td th:text="${caitem.xcatitem}"></td>
														<td th:text="${caitem.xgitem}"></td>
														<!-- <td th:text="${caitem.xproditem ? 'Y' : 'N'}"></td> -->
														<td th:text="${caitem.xunitpur}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>

					<!-- Item detail -->
					<div class="col-md-12">
						<!-- detail section -->
						<section th:if="${not #strings.isEmpty(caitem.xitem)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Item Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="caitemdetailtable" th:fragment="caitemdetailtable">
									<thead>
										<tr>
											<th>SN.</th>
											<th>Item</th>
											<th>Quantity</th>
											<th>Unit</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/mastersetup/caitem/} + ${caitem.xitem} + '/caitemdetail/new/show', data-target-modal='caitemdetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d,n : ${caitemdetails}">
											<td th:text="${n.count}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xsubitem}" target="_blank" th:text="${d.xsubitem} + ' - ' + ${d.xdesc}"></a>
											</td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xunit}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/mastersetup/caitem/} + ${d.xitem} + '/caitemdetail/' + ${d.xsubitem} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
					
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="caitemdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>