<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Order</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/salesninvoice}">Sales & Invoicing</a></li>
										<li class="active"><a th:href="@{/salesninvoice/directsales}">Invoice (Direct)</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Invoice</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/salesninvoice/directsales}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(opdoheader.xdornum)}" th:href="@{/salesninvoice/directsales}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord != 'Confirmed' and opdoheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord != 'Confirmed' and opdoheader.zactive == true}" th:href="@{/salesninvoice/directsales/confirmopdo/} + ${opdoheader.xdornum}" class="btn btn-sm btn-success confirmopdo-btn-link"><i class="fas fa-tick-alt"></i> Confirm</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord == 'Returned' and opdoheader.zactive == true}" th:href="@{/salesninvoice/directsales/returngrn/} + ${opdoheader.xdornum}" class="btn btn-sm btn-success returngrn-btn-link"><i class="fas fa-tick-alt"></i> Return</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord != 'Confirmed' and opdoheader.zactive == true}" th:href="@{/salesninvoice/directsales/archive/} + ${opdoheader.xdornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.zactive == false}" th:href="@{/salesninvoice/directsales/restore/} + ${opdoheader.xdornum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/salesninvoice/directsales/save}" th:object="${opdoheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(poordheader.xpornum)}" th:field="*{xpornum}"/> -->
											<input type="hidden" th:field="*{xtype}"/>
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(opdoheader.xdornum)}" class="form-control" th:field="*{xgrnnum}"> -->
											<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
											<input th:if="${not #strings.isEmpty(opdoheader.xdornum)}" type="hidden" class="form-control" th:field="*{xtrn}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(opdoheader.xdornum)}" class="form-control" th:field="*{xdornum}">
											<input type="hidden" class="form-control" th:field="*{xtotamt}">
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(opdoheader.xdornum)}">
														<label class="control-label col-md-4" for="xtrn">Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="prefix : ${opdoprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group" th:if="${not #strings.isEmpty(opdoheader.xdornum)}">
														<label class="control-label col-md-4" for="xdornum">Invoice Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdornum}" disabled="disabled">
														</div>
													</div>

													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcus">Customer No : </label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${opdoheader.xcus}" 
																	th:attr="search-url='search/customer'"/>
															<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xorg">Name : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xorg}" placeholder="Customer Name" required="required">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xphone">Phone : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xphone}" placeholder="Customer Phone" required="required">
														</div>
													</div>
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xinvnum">Supplier Bill No : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xinvnum}">
														</div>
													</div> -->

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${opdoheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xgrandtot">Grand Total : </label>
														<div class="col-md-6">
															<input type="text" class="form-control xgrandtot" th:field="*{xgrandtot}" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">Total Amount : </label>
														<div class="col-md-6">
															<input type="text" class="form-control xtotamt" th:field="*{xtotamt}" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xvatait">Vat Tax ID : </label>
														<div class="col-md-8">
															<select class="form-control vatait-select" th:field="*{xvatait}">
																<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xvatamt">Vat Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control hidden" th:field="*{xvatamt}" min="0">
															<input type="text" class="form-control xvatamt-show" min="0" th:value="${opdoheader.xvatamt}" disabled="disabled">
														</div>
													</div>
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xaitamt">Tax Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control hidden" th:field="*{xaitamt}" min="0">
															<input type="number" class="form-control xaitamt-show" min="0" th:value="${opdoheader.xaitamt}" disabled="disabled">
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscamt">Discount: </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xdiscamt}" min="0">
														</div>
													</div>
													
													<div class="form-group" th:if="${opdoheader.xstatusord == 'Confirmed'}">
														<label class="control-label col-md-4" for="xperson">Sales Person : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xperson}" disabled="disabled">
														</div>
													</div>
													

													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatusjv">JV Status : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
															<select class="form-control" th:field="*{xstatusjv}">
																<option th:each="jv : ${jvstatusList}" th:value="${jv.xcode}" th:text="${jv.xcode}"></option>
															</select>
														</div>
													</div> -->
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xpaymenttype">Payment Type : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xpaymenttype}">
																<option th:each="x : ${paymentTypeList}" th:value="${x.xcode}" th:text="${x.xcode}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xpaid">Paid Amount : </label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xpaid}">
														</div>
													</div>
												
													<div class="form-group">
														<label class="control-label col-md-4" for="xchange">Change Amount: </label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xchange}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xpaystatus">Pay Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xpaystatus}">
																<option th:each="s : ${payStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusar">Account Receipt: </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatusar}">
																<option th:each="s : ${arStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div>
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcur">Currency: </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xcur}">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xexch">Exchange Rate: </label>
														<div class="col-md-8">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xexch}">
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xvoucher">Voucher No. : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xvoucher}">
														</div>
													</div>													

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							
							
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Purchase Orders</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Invoice Number</th>
													<th>Date</th>
													<th>Branch</th>
													<th>Sales Person</th>
													<th>Total Amount</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="opdo : ${allOpdoHeader}">
													<td>
														<a th:href="@{/salesninvoice/directsales/} + ${opdo.xdornum}" th:text="${opdo.xdornum}"></a>
													</td>
													<td  th:text="${#dates.format(opdo.xdate, df)}"></td>
													<td th:text="${opdo.xcus}"></td>
													<td th:text="${opdo.xperson}"></td>
													<td th:text="${opdo.xtotamt}"></td>
													<td th:text="${opdo.xstatusord}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(opdoheader.xdornum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/salesninvoice/directsales/opdodetail/} + ${opdoheader.xdornum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Invoice Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="opdodetailtable" th:fragment="opdodetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Unit</th>
											<th>Qty</th>
											<th>Rate</th>
											<th th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/new/show', data-target-modal='opdodetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${opdoDetailsList}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a href="" th:text="${d.xitem}"></a>
											</td>
											<td th:text="${d.xunitsel}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/show', data-target-modal='opdodetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			
			$('a.confirmopdo-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var dornum = $("#xdornum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/directsales/confirmopdo/" + dornum,
					success: function(result){
						var status = result.status.toLowerCase();
						
						if(status == "success")
							showMessage("success", "Invoice Confirmed");
						else if(status == "error")
							showMessage("error", result.message);
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			});
			
			/* $('a.returngrn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/directsales/returngrn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "GRN return order created. Finalize from GRN return.");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			}); */
			
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						//var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						//var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;						
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						//$('input[name="xaitamt"]').val(aitAmount);
						//$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script>
</html>