<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Item Codes</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/mastersetup/vatait}">VAT & TAX</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">VAT & TAX</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/mastersetup/vatait}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(vatait.xvatait)}" th:href="@{/mastersetup/vatait}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(vatait.xvatait) and vatait.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(vatait.xvatait) and vatait.zactive == true}" th:href="@{/mastersetup/vatait/archive/} + ${vatait.xvatait}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(vatait.xvatait) and vatait.zactive == false}" th:href="@{/mastersetup/vatait/restore/} + ${vatait.xvatait}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/mastersetup/vatait/save}" th:object="${vatait}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(vatait.xvatait)}">
														<label class="control-label col-md-4" for="xvatait">Name : </label>
														<div class="col-md-8">
								 							<input type="text" class="form-control" th:field="*{xvatait}" required="required">
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(vatait.xvatait)}">
														<label class="control-label col-md-4" for="xvatait">VAT and Tax Identifier : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xvatait}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xvat">Vat : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xvat}" min="0" required="required">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xait">Tax : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xait}" min="0" required="required">
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xstartdate">Start Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xstartdate" name="xstartdate"
																	required="required"
																	th:value="${vatait.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(vatait.xstartdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xenddate">End Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xstartdate" name="xenddate"
																	required="required"
																	th:value="${vatait.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(vatait.xenddate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>VAT & TAX Lists</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Name</th>
													<th>Vat</th>
													<th>Tax</th>
													<th>Start Date</th>
													<th>End Date</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="vatait : ${allVatait}">
													<td>
														<a th:href="@{/mastersetup/vatait/} + ${vatait.xvatait}" th:text="${vatait.xvatait}"></a>
													</td>
													<td th:text="${vatait.xvat}"></td>
													<td th:text="${vatait.xait}"></td>
													<td th:text="${#dates.format(vatait.xstartdate, df)}"></td>
													<td th:text="${#dates.format(vatait.xenddate, df)}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>