<!-- Modal -->
<div id="pogrndetailmodal" th:fragment="pogrndetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update GRN Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/purchasing/pogrn/pogrndetail/save}" method="post" class="form-horizontal" th:object="${pogrndetail}">
						<!-- <input type="hidden" id="listHeadId" name="listHeadId" th:value="${listHead.listHeadId}"/>
						<input type="hidden" th:field="*{listId}"/> -->
						<input type="hidden" th:field="*{xgrnnum}"/>
						<input type="hidden" th:field="*{xitem}"/>						
						<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem">Item Code : </label>
								<div class="col-sm-8">
									<input type="text" th:value="${pogrndetail.xitem}" class="form-control" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xdocrow">Delivery Chalan Row : </label>
								<div class="col-sm-8">
									<input type="text" class="form-control" th:field="*{xdocrow}"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xcomtype">Compnant Type : </label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{xcomtype}">
										<option th:each="x : ${xcomTypes}" th:value="${x.xcode}" th:text="${x.xcode}"></option>
									</select>
								</div>
							</div>							
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtygrn">Qty Received : </label>
								<div class="col-sm-8">
									<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xqtygrn}" min="1"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate">Rate : </label>
								<div class="col-sm-8">
									<!-- <input type="text" data-smk-type="decimal" class="form-control" th:field="*{xrate}" min="0"/> -->
									<input type="text" data-smk-type="decimal" th:field="*{xrate}" class="form-control" min="0"/>
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtyprn">Purchase Returned : </label>
								<div class="col-sm-8">
									<input type="text" class="form-control" th:field="*{xqtyprn}"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xunitpur">Purchase Unit : </label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunitpur}"/>
									<input type="text" th:value="${pogrndetail.xunitpur}" class="form-control xunitpur-display" disabled="disabled"/>
									<!-- <select class="form-control" th:field="*{xunitpur}">
										<option th:each="unit : ${purUnitList}" th:value="${unit.xcode}" th:text="${unit.xcode}"></option>
									</select> -->
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xnote">Note : </label>
								<div class="col-sm-8">
									<textarea rows="6" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				
				$('#xqtygrn').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
	
				$('#xrate').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
			
				function calculateRateAmount(){
					var qty = $('#xqtygrn').val();
					var rate = $('#xrate').val();
					$('#xlineamt').val(qty * rate);
				}
				
				// Get item purchase unit
				/* setTimeout(() => {
					$.ajax({
						url : getBasepath() + '/mastersetup/caitem/itemdetail/' + $('input[name="xitem"]').val(),
						type : 'GET',
						beforeSend : loadingMask2.show(),
						success : function(data) {
							loadingMask2.hide();
														
							$('input[name="xunitpur"]').val(data.xunitpur);
							$('input.xunitpur-display').val(data.xunitpur);

							$('input[name="xrate"]').val(data.xrate);
							$('input.xrate-display').val(data.xrate);},
						error : function(jqXHR, status, errorThrown){
							showMessage(status, "Something went wrong .... ");
							loadingMask2.hide()
						}
					})
				}, 1000); */
	
			});
		</script>
	</div>
</div>