<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Transaction Codes</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/mastersetup/cap}">Codes and parameters</a></li>
										<li class="active"><a th:href="@{/mastersetup/xtrn}">Transaction Codes</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Transaction Code</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/mastersetup/xtrn}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${#strings.isEmpty(xtrn.xtrn)}" th:href="@{/mastersetup/xtrn}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-redo-alt"></i> Add</a>
										<a th:if="${not #strings.isEmpty(xtrn.xtrn) and xtrn.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(xtrn.xtrn) and xtrn.zactive == true}" th:href="@{/mastersetup/xtrn/archive/} + ${xtrn.xtypetrn} + '/' + ${xtrn.xtrn}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(xtrn.xtrn) and xtrn.zactive == false}" th:href="@{/mastersetup/xtrn/restore/} + ${xtrn.xtypetrn} + '/' + ${xtrn.xtrn}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/mastersetup/xtrn/save}" th:object="${xtrn}" method="post">
											<input type="hidden" th:if="${not #strings.isEmpty(xtrn.copyId)}" id="copyId" name= "copyId"/>
											<input type="hidden" th:if="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}" th:field="*{xtypetrn}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}" th:field="*{xtrn}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label col-md-4" for="xtypetrn">Transaction Type : </label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xtypetrn}" required="required" th:disabled="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}">
																<option th:each="type : ${T(com.asl.enums.TransactionCodeType).values()}" th:value="${type.code}" th:text="${type.code}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xtrn">Code : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xtrn}" required="required" maxlength="100" th:disabled="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdesc">Description : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xdesc}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xnum">Starting : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xnum}" min="0" th:disabled="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}" required="required">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xinc">Increment : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xinc}" min="1" th:disabled="${not #strings.isEmpty(xtrn.xtrn) and not #strings.isEmpty(xtrn.xtypetrn)}" required="required">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Transaction Codes</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" id="xtrntable" th:fragment="xtrntable">
											<thead>
												<tr>
													<th>Type</th>
													<th>Code</th>
													<th>Description</th>
													<th>Starting</th>
													<th>Increment</th>
													<th>Active</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="x : ${xtrnList}">
													<td th:text="${x.xtypetrn}"></td>
													<td><a th:href="@{/mastersetup/xtrn/} + ${x.xtypetrn} + '/' +${x.xtrn}" th:text="${x.xtrn}"></a></td>
													<td th:text="${x.xdesc}"></td>
													<td th:text="${x.xnum}"></td>
													<td th:text="${x.xinc}"></td>
													<td th:text="${x.zactive ? 'Y' : 'N'}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>