<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Production Process / Batch</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/production}">Production</a></li>
										<li class="active"><a th:href="@{/production/batch}">Production Process / Batch</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Batch Entry</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/salesninvoice/salesorderchalan}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> Create new from Chalan</a>
										<a th:if="${#strings.isEmpty(batch.xbatch) and not #strings.isEmpty(batch.xchalan) and batch.xchalan ne 'new'}" th:href="@{/production/batch}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(batch.xbatch) and batch.zactive == true and defaultBatchDetail eq null}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(batch.xbatch) and batch.zactive == true and defaultBatchDetail eq null}" th:href="@{/production/batch/explodebom/} + ${batch.xbatch}" class="btn btn-sm btn-warning archive-btn-link"><i class="fas fa-bomb"></i> Explode BOM</a>
										<a th:if="${not #strings.isEmpty(batch.xbatch) and batch.zactive == true and defaultBatchDetail ne null and batch.xstatusmor eq 'Open'}" th:href="@{/production/batch/processproduction/} + ${batch.xbatch}" class="btn btn-sm btn-warning archive-btn-link"><i class="fas fa-mortar-pestle"></i> Process Production</a>
										<a th:if="${not #strings.isEmpty(batch.xbatch) and batch.zactive == true and batch.xstatusmor eq 'Open' and defaultBatchDetail eq null}" th:href="@{/production/batch/archive/} + ${batch.xbatch}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
									</div>
									<div class="section-body section-border">
										<form th:if="${not #strings.isEmpty(batch.xchalan) and batch.xchalan ne 'new'}" id="mainform" class="form-horizontal" th:action="@{/production/batch/save}" th:object="${batch}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
											<input th:if="${not #strings.isEmpty(batch.xbatch)}" type="hidden" class="form-control" th:field="*{xbatch}"/>
											<input type="hidden" class="form-control" th:field="*{xchalan}"/>
											<input type="hidden" class="form-control" th:field="*{xitem}"/>
											<input type="hidden" class="form-control" th:field="*{xbomkey}"/>
											<input type="hidden" class="form-control" th:field="*{xqtyprd}"/>
											<input type="hidden" class="form-control" th:field="*{xstatusmor}"/>
											<div class="row">
												<div class="col-md-12">

													<div class="form-group" th:if="${#strings.isEmpty(batch.xbatch)}">
														<label class="control-label col-md-4" for="xtrn">Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="bp : ${batchPrefix}" th:text="${bp.xtrn}" th:value="${bp.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(batch.xbatch)}">
														<label class="control-label col-md-4" for="xtrn">Batch Code : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:value="${batch.xbatch}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xchalan">Chalan : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${batch.xchalan}" disabled="disabled"/>
														</div>
														<a th:href="@{/salesninvoice/salesorderchalan/} + ${batch.xchalan}" class="btn btn-sm btn-default" target="_blank"><i class="fas fa-eye"></i></a>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xitem">Item : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${batch.xitem} + ' - ' + ${batch.xdesc}" disabled="disabled"/>
														</div>
														<a th:href="@{/mastersetup/caitem/} + ${batch.xitem}" class="btn btn-sm btn-default" target="_blank"><i class="fas fa-eye"></i></a>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xbomkey">BOM : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${batch.xbomkey}" disabled="disabled"/>
														</div>
														<a th:href="@{/production/bom/} + ${batch.xbomkey}" class="btn btn-sm btn-default" target="_blank"><i class="fas fa-eye"></i></a>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xqtyprd">Production Quantity : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${batch.xqtyprd} + ' ' + ${batch.xqtyprdunit}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xqtycom">Quantity Completed : </label>
														<div class="col-md-4">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xqtycom}" th:attr="disabled=${defaultBatchDetail ne null}"/>
														</div>
														<span th:text="${batch.xqtyprdunit}" style="line-height: 30px;">Unit</span>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusmor">Status : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:value="${batch.xstatusmor}" disabled="disabled"/>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Batch List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>BOM</th>
													<th>Chalan</th>
													<th>Item</th>
													<th>BOM</th>
													<th>Production Quantity</th>
													<th>Quantity Completed</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="bh : ${batchList}">
													<td>
														<a th:href="@{/production/batch/} + ${bh.xbatch}" th:text="${bh.xbatch}"></a>
													</td>
													<td>
														<a th:href="@{/salesninvoice/salesorderchalan/} + ${bh.xchalan}" target="_blank" th:text="${bh.xchalan}"></a>
													</td>
													<td>
														<a th:href="@{/mastersetup/caitem/} + ${bh.xitem}" target="_blank" th:text="${bh.xitem} + ' - ' + ${batch.xdesc}"></a>
													</td>
													<td>
														<a th:href="@{/production/bom/} + ${bh.xbomkey}" target="_blank" th:text="${bh.xbomkey}"></a>
													</td>
													<td th:text="${bh.xqtyprd}"></td>
													<td th:text="${bh.xqtycom}"></td>
													<td th:text="${bh.xstatusmor}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12" th:if="${defaultBatchDetail != null}" style="margin-top: 20px;">
						<div class="default-mo-box">
							<div class="section-header sectionbartoggle">
								<h1>Default</h1>
							</div>
							<table class="table table-striped table-bordered" id="bomdetailtable" th:fragment="bomdetailtable">
								<thead>
									<tr>
										<th>Row</th>
										<th>Item Code</th>
										<th>Req. Qty.</th>
										<th>Unit</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${bd.xtype eq 'Default'}" th:each="bd : ${batchDetails}">
										<td th:text="${bd.xrow}"></td>
										<td>
											<a th:href="@{/mastersetup/caitem/} + ${bd.xitem}" th:text="${bd.xitem} + ' - ' + ${bd.xdesc}"></a>
										</td>
										<td th:text="${bd.xqtyreq}"></td>
										<td th:text="${bd.xunit}"></td>
										<td th:text="${bd.xtype}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-12" th:if="${defaultBatchDetail ne null}">
						<!-- poorddetail section -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<!-- <a id="listlines-url" th:href="@{/purchasing/poord/poorddetails/} + ${batch.xbatch}"></a> -->
							<div class="section-header sectionbartoggle">
								<h1>Batch Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="batchdetailtable" th:fragment="batchdetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Req. Qty.</th>
											<th>Unit</th>
											<th>Type</th>
											<th data-nosort="Y" style="text-align: right;" th:if="${batch.xstatusmor eq 'Open'}">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/production/batch/} + ${batch.xbatch} + '/batchdetail/new/show', data-target-modal='batchdetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${bd.xtype ne 'Default'}" th:each="bd : ${batchDetails}">
											<td th:text="${bd.xrow}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${bd.xitem}" th:text="${bd.xitem} + ' - ' + ${bd.xdesc}"></a>
											</td>
											<td th:text="${bd.xqtyreq}"></td>
											<td th:text="${bd.xunit}"></td>
											<td th:text="${bd.xtype}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${batch.xstatusmor eq 'Open'}">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/production/batch/} + ${batch.xbatch} + '/batchdetail/' + ${bd.xrow} + '/show', data-target-modal='batchdetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/production/batch/} + ${batch.xbatch} + '/batchdetail/' + ${bd.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="batchdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>