<!-- Modal -->
<div id="batchdetailmodal" th:fragment="batchdetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Batch Detail</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/production/batch/batchdetail/save}" method="post" class="form-horizontal" th:object="${batchdetail}">
						<input type="hidden" th:field="*{xbatch}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem">Item : </label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											required="required"
											th:disabled="${batchdetail.xrow ne 0}"
											th:value="${not #strings.isEmpty(batchdetail.xitem) ? batchdetail.xitem : ''}" 
											th:attr="search-url='search/caitem/withoutproduction'"/>
									<input type="hidden" id="search-val" class="batchdetailxitem" th:field="*{xitem}" value=""/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtyactual">Qty : </label>
								<div class="col-sm-8">
									<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xqtyactual}" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xuni">Unit : </label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunit}"/>
									<input type="text" th:value="${batchdetail.xunit}" class="form-control xunitpur-display" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xuni">Type : </label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{xtype}">
										<option th:if="${withoutbom}" value="Used" th:selected="${batchdetail.xtype eq 'Used'}">Used</option>
										<option value="Addition" th:selected="${batchdetail.xtype eq 'Addition'}">Addition</option>
										<option value="Wastage" th:selected="${batchdetail.xtype eq 'Wastage'}">Wastage</option>
									</select>
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button data-dismiss="modal" type="button" class="btn btn-default close-btn-modal" th:attr="data-url=@{/production/batch/batchdetail/} + ${batchdetail.xbatch} + '/others/show?withoutbom=' + ${withoutbom}, data-target-modal='othersbatchdetailmodal'">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();

				$('.xitemsearch').on('blur', function(){

					setTimeout(() => {
						if($('input.batchdetailxitem[name="xitem"]').val() == ''){
							$('input[name="xunit"]').val("");
							$('input.xunitpur-display').val("");
							return;
						}

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/mastersetup/caitem/purunit/' + $('input.batchdetailxitem[name="xitem"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								$('input[name="xunit"]').val(data);
								$('input.xunitpur-display').val(data);
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide()
							}
						})
					}, 1000);
				})
			})
		</script>
	</div>
</div>