<!-- Modal -->
<div id="defaultbatchdetailmodal" th:fragment="defaultbatchdetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Default Batch Detail</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-bordered" id="defaultbatchdetailtable" th:fragment="defaultbatchdetailtable">
							<thead>
								<tr>
									<th>SN.</th>
									<th>Batch</th>
									<th>Item</th>
									<th>Req. Qty</th>
									<th>Unit</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${batchdetail.xrow}"></td>
									<td th:text="${batchdetail.xbatch}"></td>
									<td>
										<a th:href="@{/mastersetup/caitem/} + ${batchdetail.xitem}" target="_blank" th:text="${batchdetail.xitem} + ' - ' +  ${batchdetail.xdesc}"></a>
									</td>
									<td th:text="${batchdetail.xqtyreq}"></td>
									<td th:text="${batchdetail.xunit}"></td>
									<td th:text="${batchdetail.xtype}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>