<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Account Hierarchy</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/account}">General Accounts</a></li>
										<li class="active"><a th:href="@{/account/accounthierarchy}">Account Hierarchy</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Account Hierarchy</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/account/accounthierarchy}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a href="#" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post">
											<div class="row">
												<div class="col-md-10">
													<div class="form-group">
														<label class="control-label col-md-4">Level-1 : </label>
														<div class="col-md-8">
															<input type="text" class="form-control">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Description : </label>
														<div class="col-md-8">
															<textarea class="form-control" rows="6" placeholder="Note"></textarea>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
														
							
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Top Level Account Group</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Level #1</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="#">10.ASSETS</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
	</body>
</html>
