<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Account Default</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/accdefault}">Account Default</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Account Default</h1>
						</div>

						<div class="row">
							<div class="col-md-12">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
									</div>
									<div class="form-action-button">
										<a th:href="@{/accdefault}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${not acdef.dataExist}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${acdef.dataExist}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/accdefault/save}" method="POST" th:with="df=${'E, dd-MMM-yyyy'}" th:object="${acdef}">
											<input type="hidden" th:field="*{dataExist}"/>
											<div class="row">
												<div class="col-md-5">
													 <div class="form-group">
														<label class="control-label col-md-6" for="xyear">Year </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xyear}" required="required">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-6" for="xper">Period</label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xper}" required="required">
														</div>
													</div>

													<div class="form-group">
															<label class="control-label col-md-6" for="xoffset">Period Offset </label>
															<div class="col-md-6">
																<input type="number" class="form-control" th:field="*{xoffset}" required="required">
															</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-6" for="xaccpl">Profit & Loss Appropriation ACC</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xaccpl}" required="required">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-6" for="xaccgl">Gain and Loss Acc</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xaccgl}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-6" for="xaccrule">Rule</label>
															<div class="col-md-6">
																<select class="form-control" th:field="*{xaccrule}">
																	<option value="Open">Open</option>
																	<option value="Current Period Only">Current Period Only</option>
																	<option value="Current And Greater">Current And Greater</option>
																</select>
															</div>
													</div>
												</div>

												<div class="col-md-5">
													<div class="form-group">
														<label class="control-label col-md-5" for="xgetper">Get Accounting Period</label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xgetper}">
																<option value="From Date">From Date</option>
																<option value="From Default">From Default</option>
															</select>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-5" for="xlength">Trn. Length</label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xlength}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-5" for="xyesno">Follow Approval?</label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xyesno}">
																<option value="No">No</option>
																<option value="Yes">Yes</option>
															</select>
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-5" for="xdateexp">Expiration Date</label>
														<div class="input-group date col-md-5 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdateexp"
																	name="xdateexp"
																	required="required"
																	th:value="${acdef.xdateexp == null ? #dates.format(#dates.createNow(), df) : #dates.format(acdef.xdateexp, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-5" for="xbacklock">Back Lock Entry</label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xbacklock}">
																<option value="No">No</option>
																<option value="Yes">Yes</option>
															</select>
														</div>
													</div>

												</div>
										</div>
									</form>
								</div>
							</section>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
